import(nlme)
import(rpart)
import(methods)
import(graphics)
import(stats)

export(AutoCorrelationLRtest, REEMtree, tree,
	is.REEMtree, logLik.REEMtree, plot.REEMtree, predict.REEMtree,
	print.REEMtree, ranef.REEMtree, tree.REEMtree, fitted.REEMtree, residuals.REEMtree)

S3method(logLik,REEMtree)
S3method(plot,REEMtree)
S3method(predict,REEMtree)
S3method(print, REEMtree)
S3method(ranef,REEMtree)
S3method(tree,REEMtree)
S3method(fitted,REEMtree)
S3method(residuals,REEMtree)
